div {
    margin: 10px;
}

#datos {
    margin: 10px;
}

span {
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(158, 156, 156);
}

label {
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(158, 156, 156);
}

input {
    margin-left: 10px;
}

button {
    margin: 10px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(231, 214, 214);
}

button:hover {
    background-color: lemonchiffon;
}