<app-hero-details [hero] = "selectedHero"></app-hero-details>

<div>
    <h3>{{title}}</h3>
</div>
<div>
    <ul>
        <li *ngFor="let heroes of listaHeroes" (click)="onSelect(heroes)">
            <button type="button" class="idButton btn btn-light">{{heroes.id}}</button>
            <button type="button" class="nameButton btn btn-light">{{heroes.name}}</button>
        </li>    
    </ul>
</div>
<div *ngIf="selectedHero">
    <h3>{{selectedHero.name + " is my hero"}}</h3>
    <button type="button" class="detalles btn btn-light">View Details</button>
</div>


