<h3>{{title}}</h3>
<div>
    <button type="button" class="btn btn-light">{{h1.id}}</button>
    <button type="button" class="btn btn-light">{{h1.name}}</button>
</div>
<div>
    <button type="button" class="btn btn-light">{{h2.id}}</button>
    <button type="button" class="btn btn-light">{{h2.name}}</button>
</div>
<div>
    <button type="button" class="btn btn-light">{{h3.id}}</button>
    <button type="button" class="btn btn-light">{{h3.name}}</button>
</div>
<div>
    <button type="button" class="btn btn-light">{{h4.id}}</button>
    <button type="button" class="btn btn-light">{{h4.name}}</button>
</div>
<div>
    <button type="button" class="btn btn-light">{{h5.id}}</button>
    <button type="button" class="btn btn-light">{{h5.name}}</button>
</div>
<div>
    <button type="button" class="btn btn-light">{{h6.id}}</button>
    <button type="button" class="btn btn-light">{{h6.name}}</button>
</div>
<div>
    <button type="button" class="btn btn-light">{{h7.id}}</button>
    <button type="button" class="btn btn-light">{{h7.name}}</button>
</div>
<div>
    <button type="button" class="btn btn-light">{{h8.id}}</button>
    <button type="button" class="btn btn-light">{{h8.name}}</button>
</div>
<div>
    <button type="button" class="btn btn-light">{{h9.id}}</button>
    <button type="button" class="btn btn-light">{{h9.name}}</button>
</div>
<div>
    <button type="button" class="btn btn-light">{{h10.id}}</button>
    <button type="button" class="btn btn-light">{{h10.name}}</button>
</div>